*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.headbody
{
  height: 8vh;
  padding: 0.2rem 1.2rem;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(2,1fr);
  position: sticky;
  top: 0px;
  .nav-bar ul {
    height: 100%;
    font-size: 1rem ;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
  .cName h1
  {
    margin-top: 8px;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: 'Segoe UI';
    color: #2877bd;
  }

}

.loginBody
{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container
  {
    flex-grow: 1;
  }
  .icon
  {
    flex-grow: 2;
  }
}
